.container
{
	position: absolute;
    margin-right: auto;
    margin-left: auto;
}
#map
{
    left: 10px;
    
}

#graph
{
	right : 10px;
}

.containertitle
{
	text-align: center;
    font-family: "Arial", Times, serif;
    font-size: 20px;
}

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}
#slider{
    left: 20px;
    right: 20px;
    width: 100% - 40px;
}

